.App {
    text-align: center;
    display: flex;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.App-header {
    width: 100%;
    min-height: 10vh;
    max-height: 15vh;
    background-color: #222;
    padding: 15px 0;
    color: white;
    display: flex;
}

.App-title {
    width: 95%;
    font-size: 1.2em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

#menu {
    font-size: 1.5em;
    width: 5%;
    height: 5vh;
    margin: 20px;
    border-bottom: 0;
    text-align: right;
}

#map {
    height: 80vh;
}

button {
    text-align: left;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    border-bottom: 1px solid #444;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 5%;
}

li {
    text-align: left;
    margin: 0 0 10px 0;
}

#filter-area {
    margin: 20px 0;
}

/* .App-title {
  width: 97%;
  font-size: 1.5em;
} */

html, body {
    height: 100vh;
    width: 100vw;
}

aside {
    width: 50%;
    position: absolute;
    transform: translate(-1000px, 0);
    transition: transform 0.3s ease;
    background-color: black;
    font-size: 15px;
    color: white;
    visibility: hidden;
}

aside.open {
    height: 100vh;
    transform: translate(0,0);
    visibility: visible;
    z-index: 10;
}

@media screen and (min-width: 600px) {
    aside {
        visibility: visible;
        width: 30%;
        height: 100vh;
        position: relative;
        transform: translate(0,0);
    }

    main {
        width: 70%;
        flex-grow: 1;
    }
    #menu {
        display: none;
        height: 0vh;
    }
    #map {
        height: 80vh;
    }
    .App-title {
        font-size: 2em;
    }
}
